* {
  color: #37393a;
  font-family: 'Roboto', sans-serif;
}

.body {
  height: 100vh;
}

html {
  width: 100%;
  background-color: #f9f1f1;
}

li {
  font-weight: bold;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

nav {
  display: flex;
  width: 100vw;
  position: fixed;
  margin-left: -10px;
  top: 0;
  background-color: #f7e3af;
  padding-bottom: 10px;
  border: solid #37393a;
}
.collapse {
  display: none;
}

.left-logo {
  margin: 15px 50px 5px 10px;
}

.left-logo h1,
.left-logo h4 {
  font-family: 'Bungee Shade', cursive;
  display: inline;
}

.left-logo h1 {
  margin-right: 9px;
  font-size: 27px;
}

.left-logo h4 {
  font-size: 18px;
}

.right-nav {
  position: fixed;
  right: 0;

  margin: 32px 20px 0 100px;
}

.right-nav ul {
  display: flex;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

.right-nav a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin: -5px 10px 0 10px;
}

#who-I-am {
  padding-top: 90px;
}

#who-I-am img {
  height: 250px;
  width: 190px;
  padding: 20px;
  border-radius: 50px;
  background-color: #e07a5f;
  margin: 0 0 0 auto;
  border: solid #f7e3af;
  box-shadow: -7px 7px #37393a;
}

.about-me {
  display: flex;
  margin: 0 auto;
}

.me-description {
  text-align: center;
  margin: 0 auto 0 130px;
  background-color: #e07a5f;
  border: solid #f7e3af;
  box-shadow: -7px 7px #37393a;
}

.about {
  width: 500px;
  text-align: center;
  margin: 0 10px 10px 10px;
}

.about-h2 {
  margin: 10px;
}

.skill-h2 {
  font-size: 30px;
  padding-top: 80px;
  margin: 10px 0 40px 105px;
}

.skills {
  background-color: #f9c846;
  width: 66%;
  border: solid #f7e3af;
  box-shadow: -7px 7px #37393a;
  margin: 0 auto;
  padding-left: 30px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 85%;
}

.project-h4 {
  font-size: 20px;
}

.project {
  display: flex;
  width: 31%;
  margin: 10px 10px 10px 0;
  flex-direction: column;
  align-items: center;
  background-color: #8eb8e5;
  border: solid #f7e3af;
  box-shadow: -7px 7px #37393a;
}

.tech-used {
  width: 200px;
  height: 160px;
  flex-wrap: wrap;
}

.tech-used h5 {
  margin-bottom: 9px;
}

.tech-used li {
  font-size: 13px;
}

.project button {
  background-color: #f7e3af;
  font-weight: bold;
  width: 150px;
  height: 30px;
  margin: 0 5px 0 5px;
  border: solid 2px;
}

.buttons {
  display: flex;
  width: 20rem;
  margin: 40px 0 20px 0;
}

.project-h2 {
  font-size: 30px;
  padding-top: 80px;
  margin: 10px 0 30px 105px;
}

.project img {
  height: 200px;
  width: 200px;
}

.skills img {
  height: 50px;
  width: 50px;
}

#work-with-me {
  margin: 20px 0 50px 0;
}

.work-h2 {
  font-size: 30px;
  padding-top: 80px;
  margin: 5px 0 40px 105px;
}

.contact {
  width: 66%;
  margin: 0 auto;
  background-color: #e07a5f;
  border: solid #f7e3af;
  box-shadow: -7px 7px #37393a;
}

.email {
  background-color: #f9f1f1;
  text-decoration: none;
  width: 30%;
  border: solid #37393a;
  font-size: 25px;
  margin: 25px auto;
  text-align: center;
}

.email a {
  text-decoration: none;
}

.outer-links {
  width: fit-content;
  margin: 0 auto;
}

.outer-links img {
  width: 100px;
  height: 100px;
  margin: 20px 10px 30px 10px;
}

p.footer-p {
  position: relative;
  display: inline-block;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin: 0px;
}

@media only screen and (min-device-width: 350px) and (max-device-width: 900px) {
  #nav {
    width: 100%;
    /* position: fixed; */
    /* margin-left: -10px; */
  }
  /* 
  .left-logo {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1.left-logo {
    font-size: 50px;
  }
  .left-logo h4 {
    font-size: 50px;
  }
  .right-nav {
    display: none;
  }
  .about {
    font-size: 40px;
    width: 800px;
  }
  .about-h2 {
    font-size: 50px;
  }
  .skill-h2,
  .project-h2,
  .work-h2 {
    font-size: 60px;
  }
  .skills {
    height: 90px;
  }
  .skills img {
    height: 70px;
    width: 70px;
  }
  .about-me {
    margin-top: 150px;
  }
  #who-I-am img {
    height: 700px;
    width: 450px;
  } */
  /* .right-nav {
    display: none;
  } */

  html {
    height: 100vh;
    width: max-content;
  }
  /* 
  .project-h4 {
    font-size: 40px;
  }
  .project img {
    height: 400px;
    width: 400px;
  }
  .footer-p {
    font-size: 2.5em;
  }
  .contact {
    margin-bottom: 20px;
  }
  .email {
    height: 50px;
    font-size: 40px;
  } */
}
