* {
  color: #37393a;
}

nav {
  display: flex;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #f7e3af;
  padding-bottom: 10px;
  border: solid #37393a;
}

.left-logo {
  margin: 35px 50px 0 10px;
}

.left-logo h1,
h4 {
  display: inline;
}

.left-logo h1 {
  margin-right: 9px;
}

.right-nav {
  position: fixed;
  right: 0;
  margin: 32px 20px 0 100px;
}

.right-nav ul {
  display: flex;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

.right-nav a {
  text-decoration: none;
  margin: 10px 10px 0 10px;
}

#who-I-am {
  padding-top: 90px;
}

#who-I-am img {
  height: 250px;
  width: 190px;
  padding: 20px;
  border-radius: 50px;
  background-color: #e07a5f;
  margin: 0 auto;
  border: solid #f7e3af;
  box-shadow: 7px 7px #37393a;
}

.about-me {
  display: flex;
  margin: 0 auto;
}

.me-description {
  text-align: center;
  margin: 0 auto;
  background-color: #e07a5f;
  border: solid #f7e3af;
  box-shadow: 7px 7px #37393a;
}

.about {
  width: 500px;
  margin: 0 10px 10px 10px;
}

.about-h2 {
  margin: 10px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  justify-content: space-evenly;
  width: 85%;
}

.project {
  display: flex;
  width: 30%;
  margin: 10px 0 10px 0;
  flex-direction: column;
  align-items: center;
  background-color: #8eb8e5;
  border: solid #f7e3af;
  box-shadow: 7px 7px #37393a;
}

.project-h2 {
  margin: 0 0 10px 0;
}

.project img {
  height: 200px;
  width: 200px;
}

.skills img {
  height: 50px;
  width: 50px;
}

p.footer-p {
  position: relative;
  display: inline-block;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin: 0px;
}

#my-skills {
  background-color: #f9c846;
}

#work-with-me {
  background-color: #e07a5f;
}

.outer-links img {
  width: 100px;
  height: 100px;
}

.body {
  height: 100vh;
}

main {
}

html {
  width: 100%;
  background-color: #f9f1f1;
}
