nav {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: pink;
  padding-bottom: 10px;
}

.left-logo {
  margin: 35px 50px 0 10px;
}

.left-logo h1,
h4 {
  display: inline;
}

.left-logo h1 {
  margin-right: 9px;
}

.right-nav {
  position: fixed;
  right: 0;
  margin: 32px 20px 0 100px;
}

.right-nav ul {
  display: flex;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

.right-nav a {
  text-decoration: none;
  margin: 10px 10px 0 10px;
}

#who-I-am {
  display: flex;
}

#who-I-am img {
  height: 250px;
  width: 190px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.project {
  display: flex;
  width: 33%;
  flex-direction: column;
  align-items: flex-start;
}

.project-h2 {
  margin: 0 0 10px 0;
}

.project img {
  height: 200px;
  width: 200px;
}

.skills img {
  height: 50px;
  width: 50px;
}

p.footer-p {
  position: relative;
  display: inline-block;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin: 0px;
}

.outer-links img {
  width: 100px;
  height: 100px;
}

.body {
  height: 100vh;
}

main {
  /* padding-top: 80px; */
}
